<div class="navbar">
    <div class="container">
        <span><%= image_tag("nav_icon.svg") %></span>
        <span class="navbar_button">
            <a href="#page-home">HOME</a>
            <a href="#page-profile">PROFILE</a>
            <a href="#page-languages">LANGUAGES</a>
            <a href="#page-skills">SKILLS</a>
            <a href="#page-projects">PROJECTS</a>
            <a href="#page-education">EDUCATION</a>
            <a href="#page-experience">EXPERIENCE</a>
            <a href="#page-contact">RÉSUMÉ/CONTACT</a>
        </span>
    </div>
</div>

<div class="page-home" id="page-home">
    <div id="mosaic"></div>
    <%= image_tag("home-page.jpg") %>
    <div class="container"> 
        <div class="row">
            <header>
                <h1>Clair Hu</h1>
                <p>Software Engineer</p>
            </header>
        </div>    
    </div>
    <div class="social-icons">
        <a href="https://github.com/clair-hu" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("github") %>
        </a>
        <a href="https://www.linkedin.com/in/zhiqing-clair-hu/" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("linkedin") %>
        </a>
        <a href="mailto:zhiqing.hu.clair@gmail.com" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("envelope") %>
        </a>
    </div>
    <button class="btn btn-default" id="btn-more" onclick="scroll()">MORE</a>
</div>

<div class="page-profile" id="page-profile">
    <div class="container">
        
    </div>
</div>

<div class="page-languages" id="page-languages">
    <div class="container">
        
    </div>
</div>

<div class="page-skills" id="page-skills">
    <div class="container">
        
    </div>
</div>

<div class="page-projects" id="page-projects">
    <div class="container">
        
    </div>
</div>

<div class="page-education" id="page-education">
    <div class="container">
        
    </div>
</div>

<div class="page-experience" id="page-experience">
    <div class="container">
        
    </div>
</div>

<div class="page-contact" id="page-contact">
    <div class="container">
        
    </div>
</div>

<script>
    function scrollBtnOnClick() {
        document.getElementById("page-profile").scrollIntoView({behavior: "smooth"});
    }
</script>
