<div class="navbar">
    <div class="container">
        <span><%= image_tag("nav_icon.svg") %></span>
        <span class="navbar_button">
            <a href="#page-home">HOME</a>
            <a href="#page-profile">PROFILE</a>
            <a href="#page-languages">LANGUAGES</a>
            <a href="#page-skills">SKILLS</a>
            <a href="#page-projects">PROJECTS</a>
            <a href="#page-education">EDUCATION</a>
            <a href="#page-experience">EXPERIENCE</a>
            <a href="#page-contact">RÉSUMÉ/CONTACT</a>
        </span>
    </div>
</div>

<div class="page-home" id="page-home">
    <div id="mosaic"></div>
    <%= image_tag("home-page.jpg") %>
    <div class="container"> 
        <div class="row">
            <header>
                <h1>Clair Hu</h1>
                <p>Software Engineer</p>
            </header>
        </div>    
    </div>
    <div class="social-icons">
        <a href="https://github.com/clair-hu" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("github") %>
        </a>
        <a href="https://www.linkedin.com/in/zhiqing-clair-hu/" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("linkedin") %>
        </a>
        <a href="mailto:zhiqing.hu.clair@gmail.com" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("envelope") %>
        </a>
    </div>
    <a class="btn btn-default" id="btn-more" href="#page-profile">MORE</a>
</div>

<div class="page-profile" id="page-profile">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Profile</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Keep going and solving problems</p>
        </header>
        <div class="page-content">
            <!-- TODO add profile pic -->
            <h3>Hi, I'm Clair 👋</h3><br>
            <p>I am a software engineering student from the University of Waterloo. Along the way, I interned at Wind River, IBM, Woodbine, Khazanah Americas Inc, ADP and Ceridian.</p>
            <p>I used to have lots of ideas. Right now I am trying to bringing them to life.</p>
            <p>Before pandemic, you can find me open swimming, paddling, hiking. These days, you can find me watching movies, listening to podcasts, raising kittens.</p>
            <p>If you're interested in chatting, come reach out to me on <a href="https://www.instagram.com/clairlovesmango/" target="_blank">Instagram</a>!</p>
        </div>
    </div>
</div>

<div class="page-languages" id="page-languages">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">LANGUAGES</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Codely Speaking</p>
        </header>
        <div class="page-content">
            <!-- todo fix the for loop -->
            <!-- <% @language_progresses.each do |language|%>
                <div id="progress">
                    <button id="ruby-text" onclick="move("ruby", 0, 60)"></button>
                    <div class="progress-bar" id="progress-bar-ruby">1%</div>
                </div>
            <% end %> -->
            <div class="progress-container">
                <button id="java-text" onclick="move('java')"></button>
                <div id="progress">
                    <div class="progress-bar" id="progress-bar-java">1%</div>
                </div>
            </div>
            <br>
            <div class="progress-container">
                <button id="python-text" onclick="move('python')"></button>
                <div id="progress">
                    <div class="progress-bar" id="progress-bar-python">1%</div>
                </div>
            </div>
            <br>
            <div class="progress-container">
                <button id="sql-text" onclick="move('sql')"></button>
                <div id="progress">
                    <div class="progress-bar" id="progress-bar-sql">1%</div>
                </div>
            </div>
            <br>
            <div class="progress-container">
                <button id="ruby-text" onclick="move('ruby')"></button>
                <div id="progress">
                    <div class="progress-bar" id="progress-bar-ruby">1%</div>
                </div>
            </div>
            <br>
            <div class="progress-container">
                <button id="c/c++-text" onclick="move('c/c++')"></button>
                <div id="progress">
                    <div class="progress-bar" id="progress-bar-c/c++">1%</div>
                </div>
            </div>
            <br>
            <div class="progress-container">
                <button id="javascript-text" onclick="move('javascript')"></button>
                <div id="progress">
                    <div class="progress-bar" id="progress-bar-javascript">1%</div>
                </div>
            </div>
            <br>
            <div class="progress-container">
                <button id="scala-text" onclick="move('scala')"></button>
                <div id="progress">
                    <div class="progress-bar" id="progress-bar-scala">1%</div>
                </div>
            </div>
            <br>
            <div class="progress-container">
                <button id="go-text" onclick="move('go')"></button>
                <div id="progress">
                    <div class="progress-bar" id="progress-bar-go">1%</div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

<div class="page-skills" id="page-skills">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Skills</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Turning knowledge into tools</p>
        </header>
        <div class="page-content">
            <div class="skill-section">
                <article class="skills">
                    <%= image_tag("circle-data.png") %>
                    <br><br>
                    <h3>Big data, artificial intelligence</h3>
                    <p>Hadoop, Spark, PyTorch, Tensorflow</p>
                </article>
            </div>
            <div class="skill-section">
                <article class="skills">
                    <%= image_tag("circle-webdev.png") %>
                    <br><br>
                    <h3>Mobile and web development</h3>
                    <p>Android, React, Node, Spring, Rest</p>
                </article>
            </div>
            <div class="skill-section">
                <article class="skills">
                    <%= image_tag("circle-cloud.png") %>
                    <br><br>
                    <h3>Cloud management</h3>
                    <p>Google cloud, AWS, Azure DevOps</p>
                </article>
            </div>
            <div class="skill-section">
                <article class="skills">
                    <%= image_tag("circle-system.png") %>
                    <br><br>
                    <h3>Distributed system management</h3>
                    <p>Kafka, Zookeeper, Thrift, Cocker</p>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="page-projects" id="page-projects">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Projects</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Bringing ideas to life</p>
        </header>
        <div class="page-content">
            <% @projects.each do |project|%>
                <div class="project-section">
                    <p><%= project.name %></p>
                    <a href="/projects/<%= project.id %>"><%= project.name %></a>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="page-education" id="page-education">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Education</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Software Engineering</p>
        </header>
        <div class="page-content">
            <div class="education-section">
                <article class="education">
                    <h3>University of Waterloo</h3>
                    <h4>Canada, 2016-2021, B.SE in Software Engineering</h4>
                    <p>Distributed Computing, Computer Networks, Database Management, Software Requirements Specification and Analysis, Operating Systems, User Interfaces, Advanced Algorithms</p>
                </article>
            </div>
            <div class="education-section">
                <article class="education">
                    <h3>École polytechnique fédérale de Lausanne (EPFL)</h3>
                    <h4>Switzerland, 2019 exchange, Computer Science (taking master courses)</h4>
                    <p>Concurrent and Paraller Programming, Applied Data Analysis, Intelligent Agent, Feedback Control</p>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="page-experience" id="page-experience">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">title</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">here to put the subtitle</p>
        </header>
        <div class="page-content">

        </div>
    </div>
</div>

<div class="page-contact" id="page-contact">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">title</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">here to put the subtitle</p>
        </header>
        <div class="page-content">

        </div>
    </div>
</div>

<script type="text/javascript">
    var language_progress = {
        "java": 90,
        "python": 80,
        "sql": 70,
        "c/c++": 60,
        "ruby": 50,
        "javascript": 40,
        "scala": 30,
        "go": 20
    }

    function move(language) {
        var percent = language_progress[language];
        var i = 0;
        if (i === 0) {
            i = 1
            var elem = document.getElementById("progress-bar-" + language);
            var width = 1;
            var id = setInterval(frame, 10);
            console.log("move");
            function frame() {
                if (width >= percent) {
                    clearInterval(id);
                    i = 0;
                } else {
                    width++;
                    elem.style.width = width + "%";
                    elem.innerHTML = width  + "%";
                }
            }
        }
    }
    
    if (window.location.hash === '' || window.location.hash === '#page-languages' 
            || window.location.hash === '#page-profile' || window.location.hash === '#page-home'
            || window.location.hash === '#page-skills' || window.location.hash === '#page-projects'
            || window.location.hash === '#page-education' || window.location.hash === '#page-experience'
            || window.location.hash === '#page-contact') {
        for (var language in language_progress) {
            document.getElementById(language + '-text').innerHTML = language.toUpperCase();
            move(language);
        }
    }
  </script>
