<div class="navbar">
    <div class="container">
        <span><%= image_tag("nav_icon.svg") %></span>
        <span class="navbar_button">
            <a href="#page-home">HOME</a>
            <a href="#page-profile">PROFILE</a>
            <a href="#page-languages">LANGUAGES</a>
            <a href="#page-skills">SKILLS</a>
            <a href="#page-projects">PROJECTS</a>
            <a href="#page-education">EDUCATION</a>
            <a href="#page-experience">EXPERIENCE</a>
            <a href="#page-contact">RÉSUMÉ/CONTACT</a>
        </span>
    </div>
</div>

<div class="page-home" id="page-home">
    <div id="mosaic"></div>
    <%= image_tag("home-page.jpg") %>
    <div class="container"> 
        <div class="row">
            <header>
                <h1>Clair Hu</h1>
                <p>Software Engineer</p>
            </header>
        </div>    
    </div>
    <div class="social-icons">
        <a href="https://github.com/clair-hu" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("github") %>
        </a>
        <a href="https://www.linkedin.com/in/zhiqing-clair-hu/" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("linkedin") %>
        </a>
        <a href="mailto:zhiqing.hu.clair@gmail.com" class="btn btn-round btn-clear social-icons" target="_blank">
            <%= fa_icon("envelope") %>
        </a>
    </div>
    <a class="btn btn-default" id="btn-more" href="#page-profile">MORE</a>
</div>

<div class="page-profile" id="page-profile">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Profile</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Keep going and solving problems</p>
        </header>
        <div class="page-content">
            <!-- TODO add profile pic -->
            <h3>Hi, I'm Clair 👋</h3><br>
            <p>I am a software engineering student from the University of Waterloo. Along the way, I interned at Wind River, IBM, Woodbine, Khazanah Americas Inc, ADP and Ceridian.</p>
            <p>I used to have lots of ideas. Right now I am trying to bringing them to life.</p>
            <p>Before pandemic, you can find me open swimming, paddling, hiking. These days, you can find me watching movies, listening to podcasts, raising kittens.</p>
            <p>If you're interested in chatting, come reach out to me on <a href="https://www.instagram.com/clairlovesmango/" target="_blank">Instagram</a>!</p>
        </div>
    </div>
</div>

<div class="page-languages" id="page-languages">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">LANGUAGES</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Codely Speaking</p>
        </header>
        <div class="page-content">
            <% @language_progresses.each do |key, value| %>
                <div class="progress-container">
                    <button id="<%= key %>-text" onclick='update_progress("<%= key %>", "<%= value %>")'></button>
                    <div id="progress">
                        <div class="progress-bar" id="progress-bar-<%= key %>">1%</div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="page-skills" id="page-skills">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Skills</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Turning knowledge into tools</p>
        </header>
        <div class="page-content">
            <% @skills.each do |key, value| %>
                <div class="skill-section">
                    <article class="skills">
                        <%= image_tag(value.first) %>
                        <br><br>
                        <h3><%= value.second %></h3>
                        <p><%= value.third %></p>
                    </article>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="page-projects" id="page-projects">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Projects</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Bringing ideas to life</p>
        </header>
        <div class="page-content">
            <% @projects.each do |project|%>
                <div class="project-section">
                    <p><%= project.name %></p>
                    <a href="/projects/<%= project.id %>"><%= project.name %></a>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="page-education" id="page-education">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Education</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Software Engineering</p>
        </header>
        <div class="page-content">
            <div class="education-section">
                <article class="education">
                    <a href="https://uwaterloo.ca/" target="_blank">University of Waterloo</a>
                    <p>Canada, 2016-2021, B.SE in Software Engineering</p>
                    <p><b>Courses:</b> Distributed Computing, Computer Networks, Database Management, Software Requirements Specification and Analysis, Operating Systems, User Interfaces, Advanced Algorithms</p>
                </article>
            </div>
            <div class="education-section">
                <article class="education">
                    <a href="https://www.epfl.ch/en/" target="_blank">École polytechnique fédérale de Lausanne</a>
                    <p>Switzerland, 2019, exchange in Computer Science</p>
                    <p><b>Courses:</b> Concurrent and Paraller Programming, Applied Data Analysis, Intelligent Agent, Feedback Control</p>
                </article>
            </div>
        </div>
    </div>
</div>

<div class="page-experience" id="page-experience">
    <div class="container">
        <header class="subpage-header">
            <h2 class="subpage-title">Experience</h2>
            <div class="spacer"></div>
            <p class="subpage-subtitle">Full Stack, Android, Computer Vision</p>
        </header>
        <div class="page-content">
            <% @experiences.each do |key, value| %>
                <div class="experience-section">
                    <article class="experience">
                        <%= image_tag(value.first) %>
                        <br><br>
                        <h3><%= value.second %></h3>
                        <p><%= value.third %></p>
                        <p><%= value.fourth %></p>
                    </article>
                </div>
            <% end %>
        </div>
    </div>
</div>

<div class="page-contact" id="page-contact">
    <div class="container">
        <!-- Todo use goodle drive link -->
        <a href="zhiqing-clair-hu-resume.pdf" target="_blank" class="btn btn-default">Résumé</a>
        <br><br>
        <a href="mailto:zhiqing.hu.clair@gmail.com">Contact Me</a>
    </div>
</div>

<script type="text/javascript">
    function update_progress(language, percent) {
        let i = 0;
        if (i === 0) {
            i = 1
            var elem = document.getElementById("progress-bar-" + language);
            var width = 1;
            var id = setInterval(frame, 10);
            function frame() {
                if (width >= percent) {
                    clearInterval(id);
                    i = 0;
                } else {
                    width++;
                    elem.style.width = width + "%";
                    elem.innerHTML = width  + "%";
                }
            }
        }
    }

    if (window.location.hash === '' || window.location.hash === '#page-languages' 
            || window.location.hash === '#page-profile' || window.location.hash === '#page-home'
            || window.location.hash === '#page-skills' || window.location.hash === '#page-projects'
            || window.location.hash === '#page-education' || window.location.hash === '#page-experience'
            || window.location.hash === '#page-contact') {
        <% @language_progresses.each do |key, value| %>
            document.getElementById('<%= key %>-text').innerHTML = "<%= key %>".toUpperCase();
            update_progress("<%= key %>", "<%= value %>");
        <% end %>
    }
</script>
